<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-row">
    <!-- 查询条件的form -->
    <form class="layui-form layui-col-md12 x-so" id="queryUserParamsForm">
        <!-- 隐藏当前页和页号 -->
        <input type="hidden" name="pageNum">
        <input type="hidden" name="pageSize">

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户别名</label>
                <div class="layui-input-block">
                    <input type="text" name="userAlias" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="userName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户状态</label>
                <div class="layui-input-inline">
                    <select name="userStatus">
                        <option value=""></option>
                        <option value="0">正常</option>
                        <option value="1">冻结</option>
                    </select>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-input-block">
                    <button type="button" class="layui-btn" onclick="queryUserFYBtn()" lay-submit=""
                            lay-filter="demo1"><i class="layui-icon layui-icon-search"></i></button>
                    <button type="button" class="layui-btn layui-btn-normal" onclick='clearQueryCondition(this)'><i
                            class="layui-icon layui-icon-refresh-3"></i></button>
                    <button type="button" class="layui-btn layui-btn-normal" onclick='addUserFun()'><i
                            class="layui-icon layui-icon-add-circle-fine"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--表格内容-->
<table class="layui-table">
    <thead>
    <tr>
        <th></th>
        <th>序号</th>
        <th>用户昵称</th>
        <th>用户真实姓名</th>
        <th>证件类型</th>
        <th>证件号码</th>
        <th>登录次数</th>
        <th>上次登录时间</th>
        <th>上次登录IP</th>
        <th>用户类型</th>
        <th>用户状态</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody id="table_user_Tbody">
    <!--动态填充数据-->
    </tbody>
</table>
<!--end 表格内容-->

<!--分页-->
<div id="pageDiv"></div>
<!--end 分页-->

<div class="layui-row" id="addUserLayer" style="display: none;">
    <form class="layui-form layui-from-pane" id="addUserForm" style="margin-top: 20px">
            <div class="layui-form-item">
                <label class="layui-form-label">用户昵称</label>
                <div class="layui-input-block">
                    <input id="userAlias" type="text" name="userAlias" required
                           lay-verify="required" autocomplete="off" placeholder="用户昵称" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">用户真实姓名</label>
                <div class="layui-input-block">
                    <input id="userName" type="text" name="userName"
                           autocomplete="off" placeholder="用户真实姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">证件类型</label>
                <div class="layui-input-block">
                    <select name="idNoType">
                        <option value=""></option>
                        <option value="0">身份证号码</option>
                        <option value="1">社保卡账号</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">证件号码</label>
                <div class="layui-input-block">
                    <input id="userIdNo" type="text" name="userIdNo"
                           autocomplete="off" placeholder="证件号码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="userType" value="0" title="管理员">
                    <input type="radio" name="userType" value="1" title="Developer" checked>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否可用</label>
                <div class="layui-input-block">
                    <input type="radio" name="userStatus" value="0" title="可用">
                    <input type="radio" name="userStatus" value="1" title="冻结" checked>
                </div>
            </div>
        </form>
</div>

<script src="/static/layui/layui.js"></script>
<script src="/static/js/jquery-3.5.0.min.js"></script>
<script>
    layui.use('form', function () {
        var form = layui.form;
        form.render();
    });

    /**
     * 点击查询放大镜的事件
     */
    function queryUserFYBtn() {
        $("[name='pageNum']").val("1");//默认页数为1
        $("[name='pageSize']").val("10");//默认每页显示为10
        queryUserFY();//分页查询课程信息
    }

    /**
     * 清空查询条件的按钮
     * 1.清空所有的条件，包括隐藏域的条件，2.重新查询一次
     * @param obj   将清空条件按钮自己传下来
     */
    function clearQueryCondition(obj) {
        //1.清空条件
        var form = $(obj).parents("form");
        form.find("input").val("");
        form.find("select").val("");
        $("[name='pageNum']").val("1");//默认页数为1
        $("[name='pageSize']").val("10");//默认每页显示为10
        //2.重新查询一次
        queryUserFY();
    }

    /**
     * 查询数据
     */
    function queryUserFY() {
        $.ajax({
            url: "/api/user/selectUserByParams",
            data: $("#queryUserParamsForm").serialize(),
            dataType: 'json',
            type: 'post',
            async: true,
            success: showUserListTable
        });
    }

    /**
     * 填充表格数据
     * @param pageInfo  ajax返回的参数信息
     */
    function showUserListTable(pageInfo) {
        // alert(JSON.stringify(pageInfo))
        //页总数
        var total = pageInfo.total;
        //页号
        var pageNum = pageInfo.pageNum;
        //页大小
        var pageSize = pageInfo.pageSize;

        var userList = pageInfo.list;
        $("#table_user_Tbody").html("");//清空表格中数据并重新填充数据
        for (var i = 0, length_1 = userList.length; i < length_1; i++) {
            var index = (pageNum - 1) * pageSize + i + 1;
            var tr = "<tr>"
                + "<td>"
                // + '<input type="radio" name="trainshemeRadio" value="' + userList[i].trainingSchemeID + '">'
                + '<input type="hidden" name="id" value="' + userList[i].id + '"/></td>'
                + '<td>' + index + '</td>'
                + '<td>' + userList[i].userAlias + '</td>'
                + '<td>' + userList[i].username + '</td>'
                + '<td>' + userList[i].idNoType + '</td>'
                + '<td>' + userList[i].userIdNo + '</td>'
                + '<td>' + userList[i].loginCount + '</td>'
                + '<td>' + userList[i].lastLoginTime + '</td>'
                + '<td>' + userList[i].lastLoginIp + '</td>'
                + '<td>' + userList[i].userType + '</td>'
                + '<td>' + userList[i].userStatus + '</td>'
                + '<td>' + userList[i].createTime + '</td>'
                + '<td>' + userList[i].updateTime + '</td>'
                + '<td>'
                + '<a title="点击查看课程详细信息" onclick="openDetailLayer(this)" href=javascript:void(0)><i class="layui-icon">&#xe615;</i></a>'
                + '<a href=javascript:void(0) title="点击修改课程基本信息" onclick="openUpdateLayer(this)"><i class="layui-icon">&#xe642;</i></a>'
                + '<a href=javascript:void(0) title="点击删除课程" onclick="deleteCourseByCourseId(this)"><i class="layui-icon">&#xe640;</i></a>'
                + '</td></tr>';
            $("#table_user_Tbody").append(tr);
        }


        //开启分页组件
        trainschemesPage(total, pageNum, pageSize);
    }


    /**
     * layui的分页插件
     * @param total 总数
     * @param pageNum   当前页
     * @param pageSize  页大小
     */
    function trainschemesPage(total, pageNum, pageSize) {
        //使用layui的分页插件
        layui.use(['laypage', 'layer'], function () {
            var laypage = layui.laypage, layer = layui.layer;

            //执行一个laypage实例
            laypage.render({
                elem: 'pageDiv', //注意，这里的 test1 是 ID，不用加 # 号
                count: total, //数据总数，从服务端得到
                limit: pageSize,//每页显示的条数。laypage将会借助 count 和 limit 计算出分页数。
                curr: pageNum,//当前页号
                limits: [5, 10, 20, 50],
                layout: ['limit', 'prev', 'page', 'next', 'skip', 'count'],//显示哪些分页组件
                jump: function (obj, first) {//点击页号的时候执行的函数
                    //obj包含了当前分页的所有参数，比如：
                    // console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                    // console.log(obj.limit); //得到每页显示的条数

                    $("[name='pageNum']").val(obj.curr);//向隐藏域设置当前页的值
                    $("[name='pageSize']").val(obj.limit);//向隐藏域设置当前页的大小
                    if (!first) {//首次不执行(点击的时候才执行)
                        queryUserFY();//执行查询分页函数(这个函数必须写在这里)
                    }
                }

            });
        });
    }

    function addUserFun() {
        layer.open({
            type: 1,
            title: "添加用户",
            area: ['400px', '550px'],
            content: $("#addUserLayer"),//引用的弹出层的页面层的方式加载修改界面表单
            btn: ['确认', '取消'],
            yes: function (index, layero) {
                var data = $("#addUserForm").serialize();
                $.ajax({
                    url: "/api/user/createUser",
                    data: data,
                    dataType: 'json',
                    type: 'post',
                    async: true,
                    success: function (resultData) {
                        debugger;
                        layer.msg(resultData.msg);
                        if (resultData.code === 0) {
                            layer.close(index);
                            queryUserFYBtn();
                        }
                    },
                    error: function () {
                        layer.alert("创建失败请重试");
                    }
                });
            },
            btn2: function (index, layero) {
                layer.close(index);
            }
        });

    }
</script>
</body>
</html>