<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Console</title>
</head>
<!-- 引用线上代码 -->
<script src="https://webapi.amap.com/maps?key=823151eefd458ee6feb86794af0f5ce5&v=1.4.15"></script>
<!--<script src="https://webapi.amap.com/maps?key=279be60e963b800a9371e3ca5f8a4c89&v=1.3.0&plugin=Map3D"></script>-->
<body>
<!--<h1>console</h1>-->
<!-- DIV需要指定宽高，才可以显示底图 -->
<div id='map' style='width:800px; height:600px;'></div>
<script>
    const map = new AMap.Map('map', {
        mapStyle: 'amap://styles/grey',
        zoom: 4,
        center: [107.4976, 32.1697]
    });
</script>
</body>
</html>